.movie_poster{
    display:inline-block;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.movie_poster_container{
    display:inline-block;
    margin: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border-left: 3px solid rgb(9, 177, 233);
    background-color: lightblue;
}
.movie_grid{
    display:flex;
    flex-wrap: wrap;
}
.slider{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    /* background-attachment: fixed; */
}
.slider > h4{
    padding-left: 30px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'Times New Roman', Times, serif;
    background-color:#1a1503;
    display:inline-block;
    color: #cccdb4;
}
.slider > h3{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'Times New Roman', Times, serif;
    background-color:#1a1503;
    display:inline-block;
    color: #cccdb4;
}

#HomeLogo{
    display: inline-block;
    margin: 0px;
    margin-left: 560px;
    padding: 30px;
    background-color:#fefefe;
}

.PresentedBy1{
    display: inline-block;
    
    margin:0px;
    margin-left: 30px;
}

.PresentedBy2{
    display: inline-block;
    margin: 0px;
   
    margin-left: 30px;
}

#HomeImage1{
    height: 80px;
    width: 80px;
    filter: sepia();
}

#HomeImage2{
    height: 90px;
    width: 180px;
    /* filter:invert(); */
    background-color: rgb(9, 177, 233);
}

h6{
    margin-top: 650px;
    display:inline-block;
    font-family: 'Times New Roman', Times, serif;
    background-color:#1a1503;
    color: #cccdb4;
}
.HomeDescription{
    font-family: 'Lora', serif;
    background-color: #504721;
    padding: 60px;
    font-weight: 400;
    color: #ede6cb;
}
.HomeDescription p {
    font-size: 20px;
}

.HomeDescription h2 {
    font-size: 30px;
}

#HomeLogo p{
    font-size: 9px;
    color:#504721;
    font-family: 'Lora', serif;
}

.CategoryHeading{
    color:#504721;
    font-size: 30px;
    font-family: 'Lora', serif;
}